
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700);


/*--- font-face ---*/

@font-face {
    font-family: 'Playfair Displayff';
    src: url("fonts/playfairdisplay/playfairdisplay-regular-webfont.eot");
    /* IE9 Compat Modes */
    src: url("fonts/playfairdisplay/playfairdisplay-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/playfairdisplay/playfairdisplay-regular-webfont.woff") format("woff"), url("fonts/playfairdisplay/playfairdisplay-regular-webfont.ttf") format("truetype"), url("fonts/playfairdisplay/playfairdisplay-regular-webfont.svg#svgFontName") format("svg");
    /* Legacy iOS */
}


$fontr: 'Roboto Condensed', sans-serif;
$fontpd: "Playfair Displayff", serif;
$color:#1b1f25;
$color1:#727272;
$color2:#9d9d9d;
$color3:#8c8c8c;
$color4:#bbb;
$color5:#888;
$color6:#555;
$color-hover:#e9302b;
$color-hover2:#ac2c1f;
$border-01: #20242a;
$border-02: #cdcecf;
$border-03: #eee;
$border-04: #32363a;
$bg1: #f3f3f3;
$bg2: #1a1f24;
$bg3: #2f3337;
$font-size: 13px;
$line-height: 20px;
$text-color: $color;

$top: 50%;

/*---  %Name  ---*/

%transition {
    transition: all .3s;
    -ms-transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
}

%fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

%text_format {
    font-size: $font-size;
    line-height: $line-height;
    color: $text-color;
    font-weight: normal;
    font-style: normal;
}

%list_format {
    li:first-child {
        margin: 0;
        padding: 0;
        border: 0;
    }
}

%clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

/*--- Functions ---*/

@mixin border($border) {
    border: 1px solid $border;
}

@mixin opacity($opacity) {
    opacity: $opacity;
    filter: Anpha(Opacity = $opacity * 100);
}

@mixin transition($time) {
    transition: all $time;
    -ms-transition: all $time;
    -webkit-transition: all $time;
    -moz-transition: all $time;
}
@mixin transition_m($var, $time) {
    transition: $var $time;
    -ms-transition: $var $time;
    -webkit-transition: $var $time;
    -moz-transition: $var $time;
}
@mixin scale($cale) {
    -webkit-transform: scale($cale);
    -moz-transform: scale($cale);
    -o-transform: scale($cale);
    transform: scale($cale);
}
@mixin translateY($translateY) {
    -webkit-transform: translateY($translateY);
    -moz-transform: translateY($translateY);
    -ms-transform: translateY($translateY);
    transform: translateY($translateY);
}
@mixin text_format($font-size, $line-height, $text-color) {
    font-size: $font-size;
    line-height: $line-height;
    color: $text-color;
}

@mixin list_format($margin, $padding, $border) {
    li:first-child {
        margin: $margin;
        padding: $padding;
        border: $border;
    }
}

@mixin list_t($margin-t, $padding-t, $border-t) {
    margin-top: $margin-t;
    padding-top: $padding-t;
    border-top: $border-t;
}
@mixin list_r($margin-r, $padding-r, $border-r) {
    margin-right: $margin-r;
    padding-right: $padding-r;
    border-right: $border-r;
}

@mixin list_b($margin-b, $padding-b, $border-b) {
    margin-bottom: $margin-b;
    padding-bottom: $padding-b;
    border-bottom: $border-b;
}
@mixin list_l($margin-l, $padding-l, $border-l) {
    margin-left: $margin-l;
    padding-left: $padding-l;
    border-left: $border-l;
}

@mixin icon($width, $height, $line-height, $font-size, $background) {
    text-align: center;
    width: $width;
    height: $height;
    line-height: $line-height;
    font-size: $font-size;
    background: $background;
}

@mixin button($top, $width, $height, $line-height, $font-size) {
    text-align: center;
    position: absolute;
    top: $top;
    width: $width;
    height: $height;
    line-height: $line-height;
    font-size: $font-size;
    margin-top: -$height / 2;
    margin-left: -$width / 2;
}

@mixin counter($num) {
    width: $num + px;
    margin-left: -$num / 2 + px;
}

@mixin clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin box-sizing($box-model) {
    -webkit-box-sizing: $box-model;
    -moz-box-sizing: $box-model;
    box-sizing: $box-model;
}



@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin border($border) {
  border: 1px solid $border;
}

@mixin box-shadow($width,$color) {
  box-shadow: 0 0 0 $width $color;
  -ms-box-shadow: 0 0 0 $width $color;
  -moz-box-shadow: 0 0 0 $width $color;
  -webkit-box-shadow: 0 0 0 $width $color;
}

@mixin kopa-float($float,$margin,$list-style) {
  float: $float;
  margin: $margin;
  list-style: $list-style;
}

@mixin before-left($top,$bottom,$right,$color,$topp) {
    content: '';
    position: absolute;
    border-top: $top solid transparent;
    border-bottom: $bottom solid transparent;
    border-right: $right solid $color;
    top: $topp;
    left: -$right;
}
@mixin before-right($top,$bottom,$left,$color,$topp) {
    content: '';
    position: absolute;
    border-top: $top solid transparent;
    border-bottom: $bottom solid transparent;
    border-left: $left solid $color;
    top: $topp;
    right: -$left;
}
@mixin before-bottom($left,$right,$top,$color,$bottom) {
    content: '';
    position: absolute;
    border-left: $left solid transparent;
    border-right: $right solid transparent;
    border-top: $top solid $color;
    bottom: $bottom;
    left: 50%;
    margin-left: -$left;
}

@mixin before-top($left,$right,$bottom,$color,$top) {
    content: '';
    position: absolute;
    border-left: $left solid transparent;
    border-right: $right solid transparent;
    border-bottom: $bottom solid $color;
    top: $top;
    left: 50%;
    margin-left: -$left;
}

